:root {
  --button-color: #f5f4fa;
  --h-color: #212121;
  --p-color: #757575;
  --hover-links-color: #2196f3;
  --semi-text-color: #ffffff;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--p-color);
}

.container-top {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}
.container {
  /* display: flex; */
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-section {
}

.section-portfolio {
  padding-top: 50px;
  padding-bottom: 94px;
}

.nav-menu {
  background: var(--semi-text-color);

  line-height: 1.19;
  color: var(--h-color);
  display: flex;
  padding: 24px 0px 25px 0px;
  border-bottom: solid 1px #ececec;
}
.logo > span {
  align-items: center;
  display: flex;
  color: var(--h-color);
}

.logo-top {
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--hover-links-color);
  /* margin-left: auto; */
}
.logo-top > span {
  color: black;
}

.flex-nav {
  display: flex;
  /* padding: 32px 0; */
  margin-left: 93px;
  justify-content: space-between;
}

.li-nav {
  padding-right: 46px;
}

/* .flex-parent {
  display: flex;
  align-items: center;

  margin-left: 271px;
} */

.nav {
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 93px; */
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--h-color);
  line-height: 1.14;
}

.navigation:hover {
  color: var(--hover-links-color);
}

.navigation:focus {
  color: var(--hover-links-color);
}

.li-contact {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-right: 50px;
  margin-left: auto;
}

.top-contact1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-color);
  margin-left: auto;
}
.top-contact {
  width: 115px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-color);
}
.top-contact:hover {
  color: var(--hover-links-color);
}
.top-contact1:hover {
  color: var(--hover-links-color);
}

.main {
  background: #2f303a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 200px 0;
}

.headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--semi-text-color);
  /* padding-top: 200px;
  padding-bottom: 30px; */
}

.button {
  width: 121px;
  height: 38px;
  border: none;
  padding: 6px 22px;
  background: var(--button-color);
  align-content: center;
  margin-right: 8px;
  font-weight: 500;
}

.buttons-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* margin-left: 532px; */
  padding-top: 94px;
  padding-right: 30px;
  justify-content: center;
  margin-left: auto;
}

.button:hover {
  cursor: pointer;
  color: var(--semi-text-color);
  background-color: var(--hover-links-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-main {
  width: 200px;
  height: 50px;
  display: block;
  text-align: center;
  justify-content: center;
  background: var(--hover-links-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 30px;
}

.button-main :hover {
  cursor: pointer;
  /* color: var(--hover-links-color); */
}

.buttons-container :hover {
  cursor: pointer;
}
.button-main-container :hover {
  cursor: pointer;
}

.button-main > span {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--semi-text-color);
  align-items: center;
  letter-spacing: 0.06em;
}

.assets {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.assets-h {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--h-color);
}

.assets-p {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  padding-right: 30px;
  padding-top: 10px;
  letter-spacing: 0.03em;
}
.assets-p-last {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  padding-right: 30px;
  padding-top: 10px;
  letter-spacing: 0.03em;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 215px;
  align-items: center;
  /* justify-content: center; */
  margin: 0 auto;
  /* text-align: center; */
}

.portfolio-h {
  display: flex;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: var(--h-color);
  text-align: left;
  justify-content: left;
  padding-left: 24px;
  padding-top: 20px;
}
.portfolio-p {
  display: flex;
  text-align: left;
  justify-content: left;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 4px;
}
.icon-border {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.875;
  /* border: 1px solid #eeeeee; */
  /* identical to box height, or 188% */
  flex-basis: calc((100% - 60px) / 3);

  letter-spacing: 0.03em;
  text-align: center;
  color: var(--p-color);
  background: #ffffff;
}

.background-main {
  background-color: #f5f4fa;
}

.main-h {
  display: flex;
  justify-content: center;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-color);
  padding-bottom: 50px;
}

.main-cointainer {
  display: flex;
  justify-content: center;
}

.main-img {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
  display: flex;
  gap: 30px;
}

.main-img-last {
  padding-top: 50px;
  display: flex;
}

.team-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.team-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  /* padding-bottom: 30px;
  padding-right: 30px; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-li-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--h-color);
  padding-top: 30px;
}
.job {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.875;
  padding-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background: #2f303a;
  color: var(--semi-text-color);
  padding: 60px 0;
}

/* .footer-items {
  margin-left: 215px;
} */
.logo {
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--hover-links-color);
  padding-bottom: 20px;
}

.logo > span {
  color: var(--semi-text-color);
  line-height: 1.19;
  display: flex;
}
.address-bottom {
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--semi-text-color);
  padding-bottom: 9px;
}

.contact-bottom {
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  padding-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);
}
.contact-bottom:hover {
  color: var(--hover-links-color);
  cursor: pointer;
}

.phone-bottom {
  padding-top: 9px;
  font-size: 14px;
  line-height: 1.17;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.phone-bottom:hover {
  color: var(--hover-links-color);
  cursor: pointer;
}
